<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourceDir" value="C:\Users\Dave\Downloads\Wow\bak"/>
    <add key="WorkingDir" value=""/>
    <add key="BackupDir" value=""/>
    <add key="WoWDir" value="D:\Games\World of Warcraft"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
